{% for a in attachhtmls %}
{{ a|safe}}
{% endfor %}

<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">

<div style="margin:30px;border:solid 1px;">
                <h3 class="heading no-bottom-line clear">
                    <span class="label industry">候选人</span>
                    {{ chineseName }}
            </h3>

                <div class="pull-right heading-bar">
                    <span class="label status" style="background-color: #ff9300;">{{ status.zh_CN }}</span>
                    <span class="label industry">{{ industry.name }}</span>
            </div>

                <div class="tab-content">
                    <div class="tab-pane active" id="people-resume-tab">
                        <div class="vcard">
                            <ul class="full-width">
                                <li class="v-heading">
                                    <span data-i18n="Basic Info" data-woven="shared/helper/translation@1721">基本信息</span>
                            </li>

                                <li class="clearfix">
                                    <div class="span6">
                                        <span class="item-key" data-i18n="Email" data-woven="shared/helper/translation@1722">邮件</span>
                                        <div class="vcard-item">
                                            <span data-i18n="Private email" data-woven="shared/helper/translation@1723">私人</span>:
                                            <a href="#">{{ email }}</a>
                                    </div>
                                </div>
                                    <div class="span6">
                                        <span class="item-key" data-i18n="Phone" data-woven="shared/helper/translation@1724">电话</span>
                                        <div class="vcard-item">
                                            <span data-i18n="Mobile" data-woven="shared/helper/translation@1725">手机</span>:
                                            <a href="tel:">{{mobile}}</a>
                                    </div>
                                </div>
                            </li>

                                <li class="clearfix">
                                    <div class="span6">
                                        <span class="item-key" data-i18n="Working place" data-woven="shared/helper/translation@1726">工作城市</span>
                                        <div class="vcard-item">{{location.name}}</div>
                                </div>
                                    <div class="span6">
                                        <span class="item-key" data-i18n="Intention City" data-woven="shared/helper/translation@1727">意向城市</span>
                                        <div class="vcard-item">
                                            &nbsp;
                                    </div>
                                </div>
                            </li>

                                <li class="clearfix">
                                    <div class="span6">
                                        <span class="item-key" data-i18n="Annual Salary" data-woven="shared/helper/translation@1728">年薪</span>
                                        <div class="vcard-item">
                                            {{annualSalary}}
                                    </div>
                                </div>
                                    <div class="span6">
                                        <span class="item-key" data-i18n="Gender" data-woven="shared/helper/translation@1729">性别</span>
                                        <div class="vcard-item">
                                            <span data-i18n="Male" data-woven="shared/helper/translation@1730">
                                                {% if gender %}
                                                男
                                                {% else %}
                                                女
                                                {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </li>

                                <li class="clearfix">
                                    <div class="span6">
                                        <span class="item-key" data-i18n="Date of birth" data-woven="shared/helper/translation@1731">生日</span>
                                        <div class="vcard-item">{{dateOfBirth}}</div>
                                </div>
                            </li>

                                <li class="clearfix">
                                    <div class="span6">
                                        <span class="item-key" data-i18n="Keyin By" data-woven="shared/helper/translation@1732">输入者</span>
                                        <div class="vcard-item">
                                            <a href="/user/preview#525" data-action="open/profile">{{addedBy.chineseName}}</a>
                                    </div>
                                </div>

                            </li>

                                <li class="clearfix">
                                    <div class="span6">
                                        <span class="item-key" data-i18n="Owner" data-woven="shared/helper/translation@1733">拥有者</span>
                                        <div class="vcard-item"><a href="/user/preview#525" data-action="open/profile">{{owner.englishName}}</a></div>
                                </div>
                            </li>

                                <li class="v-heading clear">
                                    <span data-i18n="Work Experiences" data-woven="shared/helper/translation@1736">工作经历</span>
                                    <span class="muted pull-right">
                                        <span data-i18n="Years of experience" data-woven="shared/helper/translation@1737">工作经验</span>:
                                        {{work_years}} <span data-i18n="Year(s)" data-woven="shared/helper/translation@1738">年</span>
                                        &nbsp;&nbsp;
                                        <span data-i18n="On Job" data-woven="shared/helper/translation@1739">在职</span>:
                                        {{current_years}} <span data-i18n="Year(s)" data-woven="shared/helper/translation@1740">年</span>
                                </span>
                            </li>
                                <li>
                                    {% for exp in experiences %}
                                    <div class="entity">
                                        <dl class="dl-horizontal">
                                            <dt>{{exp.start}} - <span data-i18n="Present" data-woven="shared/helper/translation@1741">
                                                {% if exp.is_current %}
                                                至今
                                                {% else %}
                                                {{exp.end}}
                                                {% endif %}
                                        </span></dt>
                                            <dd>
                                                <strong><a href="/company#detail!id=11689" target="_blank">{{exp.client.name}}</a></strong>
                                                <span class="label industry">{{exp.client.industry.name}}</span>
                                        </dd>
                                            <dt></dt>
                                            <dd>
                                                <strong class="muted">{{exp.title}}</strong>
                                        </dd>
                                    </dl>

                                        <div class="description">
                                            {{exp.description}}
                                    </div>
                                </div>
                                    {% endfor %}
                            </li>

                                <li class="v-heading clear">
                                    <span data-i18n="Education Experiences" data-woven="shared/helper/translation@1742">教育经历</span>
                            </li>
                                <li>
                                    {% for edu in education %}
                                    <div class="entity">
                                        <dl class="dl-horizontal">
                                            <dt>{{edu.start}} - {{edu.end}}</dt>
                                            <dd>
                                                <strong>{{edu.school}}</strong>
                                        </dd>
                                            <dt></dt>
                                            <dd>
                                                {{edu.degree}} , {{edu.major}}
                                        </dd>

                                    </dl>
                                </div>
                                    {% endfor %}
                            </li>

                                <li class="v-heading clear">
                                    <span>备注</span>
                            </li>
                                <li>
                                    {% for note in notes.list %}
                                    <div class="tab-pane active" id="people-note-tab" data-woven="app/widget/candidate/detail/note-tab/main@309">
                                        <div class="activity-item clearfix" data-type="Candidate Call">
                                            <div class="pull-left span2 activity-time">
                                                <p>
                                                    <span><span class="event-date" data-added="2014-04-03 17:39" data-original-title="" title="">{{note.dateAdded}}</span></span>
                                                    <a href="/user/preview#525" data-action="profile/open">{{note.user.englishName}}</a><br>
                                            </p>
                                        </div>
                                            <div class="pull-left span10 activity-detail">
                                                <div class="well">
                                                    <div class="title clearfix">
                                                        <span class="label" style="background-color: #86a7ff">{{note.category.value}}</span>
                                                        <span class="label" style="background-color: #ff9300;" data-name="status">{{note.status.value}}</span>
                                                </div>
                                                    <div class="content" data-name="notes">
                                                        {% for item in note.items %}
                                                        <h4>{{item.field}}</h4>
                                                        <p>
                                                            {{item.value}}
                                                    </p>
                                                        {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    {% endfor %}
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
